.bunni-buy {
  min-height: 100vh;
  width: 100%;
}

/* landing Page Design */
.landing-page {
  min-height: 100vh;
  background: rgb(255, 238, 232);
  h1 {
    text-align: center;
    background: coral;
    color: white;
    padding: 2vh 0;
  }
  .container {
    border: 2px solid lightgray;
    height: 70vh;
    width: 40vw;
    background: white;
    margin: 10vh auto;
    border-radius: 10px;
    .btnbox {
      height: 10vh;
      width: 50%;
      background: black;
      margin: 3vh auto;
      border-radius: 50px;
    }

    .formbox {
      background: rgb(255, 238, 232);
      border: 2px solid coral;
      padding: 2vh 1vw;
      width: 90%;
      margin: 2vh auto;
      border-radius: 10px;
      input,
      button {
        display: block;
        margin: 2vh auto;
        font-size: large;
        font-weight: bold;
        padding: 2vh 1vw;
        border-radius: 10px;
      }
      input {
        width: 50%;
        margin: 5vh auto;
      }
      button {
        padding: 1vh;
        border: none;
        transition: all 0.2s;
      }
      button:hover {
        background: rgb(254, 75, 10);
      }
      button:active {
        transform: scale(0.9);
      }
    }

    button {
      width: 50%;
      height: 100%;
      border: 5px solid black;
      cursor: pointer;
      border-radius: 50px;
      font-weight: bold;
      font-size: 20px;
      background: coral;
      color: white;
      transition: all 0.3s;
    }
    .ryt {
      margin-left: 50%;
    }
  }
}

/* Navbar Design */
.navbar {
  background: coral;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  .logo {
    /* width: 30%;
        height: 100%;
        background: tan; */
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-style: oblique;
  }
  .links {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 10px;
        a {
          text-decoration: none;
          padding: 15px;
          color: rgba(255, 255, 255, 0.704);
          /* background: red; */
          font-size: large;
          font-weight: bold;
          transition: 0.5s;
        }
        a:hover {
          color: white;
        }
        a.active {
          text-decoration: underline 2px;
        }
        button {
          background: none;
          border: none;
          color: rgba(255, 255, 255, 0.704);
          font-size: 18px;
          cursor: pointer;
          font-weight: bold;
        }
        button:hover {
          color: white;
        }
      }
    }
  }
}

/* Home Page Design */
.home-page {
  background: url("../images/background2.png") no-repeat center/cover;
  img {
    /* margin-top: 12vh; */
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.297); */
  }
  button {
    position: absolute;
    z-index: 2;
    bottom: 20vh;
    left: 20vw;
    padding: 2vh 4vh;
    background: coral;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(255, 107, 54);
    box-shadow: 0 0 14px coral;
  }
}

/* Products page Design */
.products {
  h1 {
    text-align: center;
    margin: 2vh 0;
    color: gray;
    text-shadow: 1px 1px 2px orangered;
  }
  .add-btn{
    padding: 10px;
    cursor: pointer;
  }
  .container {
    margin: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    .card {
      text-align: center;
      border-radius: 10px;
      width: 280px;
      height: 400px;
      /* border: 1px solid black; */
      box-shadow: 1px 1px 10px coral;
      padding: 10px;
      background: rgba(255, 238, 232, 0.504);
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      margin: 20px;
      .cat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        margin: 8px;
        p {
          color: gray;
        }
        button {
          background: none;
          border: none;
          color: rgb(255, 68, 0);
          cursor: pointer;
        }
        button:hover {
          transform: scale(1.2);
        }
      }
      .image {
        margin: 10px 0;
        img {
          width: 190px;
          height: 200px;
          filter: drop-shadow(0 0 10px black);
          transition: all 0.5s;
        }
        img:hover {
          transform: scale(1.7) rotate(-20deg);
          z-index: 1;
        }
      }
      .title {
        margin: 20px 0;
        /* font-weight: bold; */
      }
      .btns {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        margin-left: 50px;
        /* margin-bottom: 10px; */
        button {
          background: none;
          border: none;
          padding: 5px 20px;
          /* margin: 0 10px; */
          margin-left: 10px;
          margin-bottom: 12px;
          color: rgb(255, 68, 0);
          cursor: pointer;
          display: flex;
          align-items: center;
          color: white;
          background: rgb(255, 68, 0);
          border-radius: 5px;
          font-weight: bold;
          box-shadow: 0 0 14px rgb(255, 68, 0);
          /* transition: all .5s; */
        }
        button:hover {
          background: white;
          color: rgb(255, 68, 0);
          transform: scale(1.1);
          box-shadow: 0 0 14px rgb(255, 68, 0);
        }
      }
    }
    .card:hover {
      background: rgba(250, 198, 179, 0.775);
      transform: scale(1.1);
    }
  }
}

/* About Page Design */
.about-page {
  /* display: flex; */
  h1 {
    text-align: center;
    margin: 20px;
    color: gray;
    text-shadow: 1px 1px 10px coral;
  }
  .container {
    display: flex;
    margin: 80px 200px;
    .left {
      width: 50%;
      padding: 0 20px;
      h2{
        font-size: 40px;
        color: rgb(255, 103, 47);
      }
      p{
        text-align: justify;
        text-indent: 100px;
        padding: 10px 0;
        line-height: 30px;
        color: gray;
      }
      .social-media{
        /* background: green; */
        button{
            background: none;
            border: none;
            margin: 0 20px;
            color:  rgb(255, 103, 47);
            cursor: pointer;
            transition: all .3s;
        }
        button:hover{
            transform: scale(1.2);
        }
      }
    }
    .right {
      width: 50%;
      background: url("../images/about.png") no-repeat center/cover;
      /* width: 100%; */
      height: 300px;
      img {
        width: 100%;
      }
    }
  }
}

/* Viewmore page Design */
.viewmore {
  h1 {
    text-align: center;
    color: gray;
    text-shadow: 1px 1px 12px coral;
    margin: 20px 0;
  }

  .card {
    border: 3px solid coral;
    display: flex;
    margin: 50px 100px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 238, 232, 0.504);
    .image {
      width: 40%;
      img {
        width: 65%;
        height: 450px;
        transition: all 0.2s;
      }
      img:hover {
        filter: drop-shadow(0 0 10px coral);
        transform: scale(0.9);
      }
    }
    .desc {
      background: rgba(230, 228, 228, 0.536);
      padding: 20px;
      border-radius: 10px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: relative;
      .back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 2px 20px;
        color: coral;
        font-weight: bold;
        font-size: 18px;
        background: white;
        border: 2px solid coral;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
      .title {
        font-weight: bold;
        font-size: 25px;
        color: rgb(255, 107, 53);
      }
      .description {
        text-align: justify;
        color: gray;
        text-indent: 80px;
      }
      .price {
      }
      .cat {
      }
      .rating {
        display: flex;
        align-items: center;
        background: green;
        width: 60px;
        color: white;
        padding: 3px 8px;
        border-radius: 10px;
        span {
          color: gold;
        }
      }
      .count {
      }
      .dlt {
        background: coral;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 1px 14px gray;
        font-size: 18px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s;
      }
      button:hover {
        transform: scale(0.9);
      }
    }
  }
}



/* ================= RESPONSIVE DESIGN ================= */

/* Tablet */
@media (max-width: 1024px) {
  .landing-page {
    .container {
      width: 60vw;
    }

    .btnbox {
      width: 70%;
    }
  }
}

/* Simple Responsive */

@media (max-width: 768px) {
  .landing-page {
    .container {
      width: 85vw;
    }

    .container .btnbox {
      width: 80%;
    }

    .container button {
      font-size: 16px;
    }
  }
}
